* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.letters-container {
  display: flex;
  gap: 10px;
  margin: 20px;
}

.letter {
  width: 50px;
  height: 50px;
  padding: 10px;
  color: white;
  background-color: #3598db;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  font-size: 24px;
  font-weight: bold;
}
